<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>

    <title>秒杀商品列表页</title>
</head>
<body>
<table>
    <!--/*@thymesVar id="lsit" type=""*/-->
    <tr  th:each="seckill,iterStat : ${list}">
        <!--/*@thymesVar id="seckillId" type="java.lang.Integer"*/-->
        <td th:text="${seckill.seckillId}">Otto</td>
        <td th:text="${seckill.name}">Otto</td>
        <td th:text="${seckill.number}">Otto</td>
        <td th:text="${seckill.startTime}">@mdo</td>
        <td th:text="${seckill.endTime}">index</td>
        <td th:text="${seckill.createTime}">index</td>
    </tr>
</table>

</body>
</html>